<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">This is the footer to later put into a component that is more mobile freindly </h5>
        <p class="grey-text text-lighten-4">Share your favorite recipes</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="/stories" class="grey-text text-lighten-3" class="nav-link"><i class="fas fa-user-friends"></i>
              Public Stories</a></li>
          <li><a href="/about" class="grey-text text-lighten-3" class="nav-link"><i class="far fa-address-card"></i>
              About Spin The Globe Recipe
              Finder</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2019
      <a class="grey-text text-lighten-4 right" href="#!">More Links to no where </a>
    </div>
  </div>
</footer>