html,
body {
  margin: 0;
  padding: 0;
  /* background: rgb(32, 137, 236); */
  background: #000204;
  font-family: sans-serif;
  color: white;
}
.jumbotron {
  background: #000204;
  background: #000204;
  -webkit-filter: drop-shadow(0 0 0.95rem white);
  filter: drop-shadow(0 0 0.95rem white);
  font-family: sans-serif;
  color: white;
}
.table {
  background: #000204;
  -webkit-filter: drop-shadow(0 0 0.95rem white);
  filter: drop-shadow(0 0 0.95rem white);
}
.navbar {
  background: #000204;
  color: white;
}
.nav-link {
  color: white;
}
.card {
  background: #000204;
  -webkit-filter: drop-shadow(0 0 0.95rem white);
  filter: drop-shadow(0 0 0.95rem white);
  color: white;
}
.navbar-nav {
  background-color: #57bb86;
  color: white;
}

.card-text {
  height: 120px;
}
.dash-public {
  text-transform: capitalize;
}
#delete-form {
  display: inline;
}
footer {
  margin-top: 20px;
  background: #000204;
}
.btn {
  background-color: #57bb86;
  color: white;
}
button {
  background-color: #57bb86;
  color: white;
}
a {
  color: white;
  background-color: #57bb86;
}

/* green color is #57BB86 */
/* black color is #000204 */
/* pink color is #ff3796 */
