<h1>Welcome</h1>
<p>Welcome to Spin The Globe Recipe Finder <p>
    <p>Post a recipe to the community or add one to your private collection</p>
    {{#if user}}
    {{else}}
    <a class="btn" href="/users/login" class="nav-link"><i class="fas fa-globe"></i> Login</a>
    <a class="btn" href="/users/register" class="nav-link"><i class="fas fa-scroll"></i> Register</a>
    {{/if}}