<h1>Add Recipe </h1>

<form action="/recipes" method="post">
  <div class="row">
    <div class="input-field">
      <input type="text" name="label">
      <label for="label">label</label>
    </div>
  </div>
  <div class="form-group">
    <div class="input-field">
      <label for="public">public</label>
      <select name="public" class="form-control" id="">
        <option value="public" selected>Public</option>
        <option value="private">Private</option>
        <option value="unpublished">Unpublished</option>
      </select>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="allowComments" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Allow Comments
    </label>
  </div>
  <div class="form-group">
    <div class="input-field">
      <label for="">Tell Us Your Recipe </label>
      <textarea name="body" class="form-control" id="" rows="3"></textarea>
    </div>
  </div>
  <input type="submit" value="Save" class="btn btn-outline-primary">
</form>